@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&family=Raleway:wght@300&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
    font-family: 'Raleway';
}

form{
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
}

.inputs{
    padding: 15px 15px 15px 15px;
    border: 1px black;
    border-radius: 5px;
    background-color: antiquewhite;
    
}

button{
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    font-family: 'Quicksand';
}

button:hover{
    transition-duration: 1s;
    color: black;
    background-color: aliceblue;
}

#contenedor{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
}

.div{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #630b57;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    color: aliceblue;
}

.div p{
    font-size: 20px;
    font-family: 'Raleway';
}

i{
    color: white;
}

span{
    color: #FFD700;
    font-size: 18px;
    font-family: 'Poppins';
}